@charset "UTF-8";
/* Center the heading */
header {
	text-align: center;
}

.header h1 {
	font-size: 64px;
	margin-bottom: 4rem;
}

/* Style the paragraph */
p {
	text-align: center;
	font-size: 1.2rem;
	margin-top: 20px;
}

/* Style the button */
.button {
	display: block;
	margin: 20px auto;
	padding: 10px 20px;
	background-color: #fff;
	color: #000;
	border: 2px solid #000;
	font-size: 1.2rem;
	cursor: pointer;
}

/* Center the images */
main {
	text-align: center;
}

img {
	display: inline-block;
	margin: 20px;
	max-width: 30%;
	height: auto;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}